<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/edt-book/{{result._id}}" method="POST"  enctype="multipart/form-data" role="form" >
                {{!-- <legend>Add Book</legend> --}}
                <h1 class="h3 mb-0 text-gray-800 pb-3" >Add Book</h1>
                <div class="row">
                <div class="form-group col-12 col-sm-6 col-md-6">
                    <label for="bk_name">Book Name</label>
                    <input type="text" class="form-control" value="{{result.bk_name}} " name="bk_name" id="bk_name" placeholder="Book Name">
                </div>

                <div class="form-group col-12 col-sm-6 col-md-6">
                    <label for="au_name">Author name</label>
                    <input type="text" class="form-control" value="{{result.au_name}} " name="au_name" id="au_name" placeholder="Author Name">
                </div>

                <div class="form-group col-12 col-sm-6 col-md-4">
                    <label for="lg">Language</label>
                    <input type="text" class="form-control" value="{{result.lg}} " name="lg" id="lg" placeholder="Language">
                </div>
                <div class="form-group col-12 col-sm-6 col-md-4">
                    <label for="dop">Date of Publishing</label>
                    <input type="text" class="form-control" value="{{result.dop}} " name="dop" id="dop" placeholder="Date of Publishing">
                </div>
                <div class="form-group col-12 col-sm-6 col-md-4">
                    <label for="cat">category</label>
                    <input type="text" class="form-control" value="{{result.cat}} " name="cat" id="cat" placeholder="category">
                </div>       


                <div class="form-group col-12 col-sm-6 col-md-4">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" value="{{result.price}} " name="price" id="price" placeholder="Price">
                </div>

                <div class="form-group col-12 col-sm-6 col-md-4">
                    <label for="pub">Publishers</label>
                    <input type="text" class="form-control" value="{{result.pub}} " name="pub" id="pub" placeholder="Publishers">
                </div>
                <div class="form-group col-12 col-sm-6 col-md-4">
                    <label for="img">Image</label>
                    <input type="file" class="form-control" value="img{{result.img}} " name="img" id="img" placeholder="img">
                </div>                
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-danger">Reset &nbsp;</button>

            </form>
        </div>
    </div>
</div>