<div class="row p-4">
    <table class="table table-borderless  table-hover table-responsive">
    <thead>
        <tr>
        <th class="d-md-bl" scope="col">#</th>
        <th scope="col">Book Name</th>
        <th scope="col">Author Name</th>
        <th  class="d-md-bl" scope="col">Price</th>
        <th class="d-md-bl" scope="col">Year of Publication</th>
        <th class="d-md-bl" scope="col">Publicatiors</th>
        </tr>
    </thead>
    <tbody>
        {{#each book}}
        <tr onclick="window.location.href='/view-book/{{this.bk_id}}'">
            <th  class="d-md-bl" scope="row">{{this.bk_id}} </th>
            <td >{{this.title}}</td>
            <td>{{this.author}}</td>
            <td class="d-md-bl">{{this.price}}</td>
            <td class="d-md-bl">{{this.yop}}</td>
            <td class="d-md-bl">{{this.pub}}</td>
        </tr>
        {{/each}}
    </tbody>
    </table>    
</div>

<style>
    .table-responsive {
    display: inline-table;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
@media(max-width:700px){
    .table-responsive {
    display: block;
    width: 134%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
}
</style>