<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="cover">
                <img src="data:image/png;base64,{{result.img}}" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-md-6">
            <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>Book Name</td>
                    <td>{{result.bk_name}}</td>
                </tr>
                                <tr>
                    <td>Author Name</td>
                    <td>{{result.au_name}}</td>
                </tr>
                <tr>
                    <td>Language</td>
                    <td>{{result.lg}}</td>
                </tr>
                <tr>
                    <td>price</td>
                    <td>{{result.price}}</td>
                </tr>
                <tr>
                    <td>Date of Publication</td>
                    <td>{{result.dop}}</td>
                </tr>                                
            </tbody>
            </table>            

        </div>
    </div>
</div>    