
<section>
    <div class="row container-fluid">
        <div class="col-lg-6 b-r">
            <h3 class="text-center ">
                Profile
                <hr class="pro">
            </h3>
            <table class="table hi table-borderless">
                <tbody>
                        <tr>
                            <th scope="row">Memeber ID</th>
                            <td>{{member.m_id}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{member.name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Mobile</th>
                            <td>{{member.mob}}</td>
                        </tr>
                        <tr>
                            <th scope="row">College ID</th>
                            <td>{{member.clg_id}}</td>
                        </tr>
                                                        
                </tbody>
            </table>            
        </div>
        <div class="col-lg-6">
            <h3 class="text-center ">
                Books Taken
                <hr class="pro">
            </h3>
            {{#if result}} 
            <table class="table hi table-borderless">
                <tbody>
                        <tr>
                            <th scope="row" class="tt">Book Id</th>
                            <th scope="row" class="tt">Date</th>
                            <th scope="row" class="tt">Expected Return Date</th>
                            <th scope="row" class="tt">Status</th>
                            <th scope="row" class="tt"></th>
                            
                        </tr>
                    {{#each result}}
                        <tr>
                            <td>   
                                <a href="/view-book/{{this.bk_id}}">{{this.bk_id}}</a>
                            </td>
                            <td>   
                               {{this.date}}
                            </td>
                             <td>   
                               {{this.eRD}}
                            </td>
                            {{#if this.status}}
                                <td>Returned</td>
                            {{else}}
                                <td id="A{{this._id}}">   
                                {{this.status}}
                                </td>
                                <td>
                                    <img id="B{{this._id}}" onclick="updS('{{this._id}}')" height="30px" src="/images/img/Rimage.jpg" alt="book retun icon">
                                </td>
                            {{/if}}
                        </tr>                                               
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <h6 class="mt-5 pt-3 text-center">No books had taken yet </h6> 
            {{/if}}          
        </div>
    </div>
</section>
<script>


    function updS(id){
        $.ajax({

            url: "/return-book/" + id,
            method: "get",

            success: function(response){
                let sid='A'+id
                let abc='B'+id

                document.getElementById(sid).innerHTML="Returned";
                document.getElementById(abc).style.display = "none";
                
            }
        })
    }
</script>
