<div class="row p-4">
    <table class="table table-borderless col-12 table-hover table-responsive">
    <thead>
        <tr>
        <th scope="col">Memeber ID</th>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col" >College ID</th>
        </tr>
    </thead>
    <tbody>
        {{#each members}}
        <tr onclick="window.location.href='/view-member/{{this.m_id}}'">
            <th scope="row">{{this.m_id}} </th>
            <td>{{this.name}}</td>
            <td class="d-xs-bl">{{this.mob}}</td>
            <td class="d-lg-bl">{{this.clg_id}}</td>
        </tr>
        {{/each}}
    </tbody>
    </table>    
</div>

<style>

    .table-responsive {
    display: inline-table;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
@media(max-width:700px){
    .table-responsive {
    display: block;
    width: 134%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

}
@media (max-width: 358px) { .d-xs-bl{display: none !important;}}

@media (max-width: 576px) { .d-sm-bl{display: none !important;}}

@media (max-width: 768px) {.d-md-bl{display: none !important;} }

@media (max-width: 992px) {.d-lg-bl{display: none !important;}}
</style>